    #schedule{
        width:95vw;
        table{  
            width:100%;
            border-style:solid;
            thead{
                tr{
                    th{
                    background-color:pink;
                    }
                }
            }
            tbody{
                tr{
                    background-color: lightgreen;
                    td{
                    max-width:5em;
                    height:5em;
                    overflow-wrap:break-word;
                    text-overflow:clip;    

                        div{
                            background-color:orange;
                            width:95%;
                            
                       
                            p{
                                background-color:lightblue;

                            }
                            i{
                              
                            }
                        }
                        textarea{ 
                  
                        }
                    }
                    
                }
            }
        }
    }
   